@model United4Admin.WebApplication.ViewModels.ChoosingPartyVM

@{
    bool connectedRegistrations = Model.LinkedRegistrations;
    string disableButton = "";
    if (connectedRegistrations)
    { disableButton = "disabled='disabled'"; }
}


<div>
    <h4>Delete Choosing Event</h4>
    <div class="alert alert-danger">Are you sure you want to remove this choosing party?</div>
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="HorizonId"></label>
        </dt>
        <dd>
            @Model.HorizonId
        </dd>
        <dt>
            <label asp-for="PartyName"></label>
        </dt>
        <dd>
            @Model.PartyName
        </dd>
        <dt>
            <label asp-for="Country"></label>
        </dt>
        <dd>
            @Model.Country
        </dd>
        <dt>
            <label asp-for="Location"></label>
        </dt>
        <dd>
            @Model.Location
        </dd>
        <dt>
            <label asp-for="PartyDate"></label>
        </dt>
        <dd>
            @Model.PartyDate.ToString("dd/MM/yyyy")
        </dd>

        <dt>
            <label asp-for="WorkflowStatusId"></label>
        </dt>
        <dd>
            @Model.WorkflowStatus.WorkflowStatusLookupName
        </dd>
        <dt>
            <label asp-for="NotesComments"></label>
        </dt>
        <dd>
            @Model.NotesComments
        </dd>


    </dl>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="control-label col-md-2"></div>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" @disableButton /> &nbsp;&nbsp;
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
