@model United4Admin.WebApplication.ViewModels.PermissionsVM

@{
    bool isSelf = ViewBag.Self;
    string disableButton = "";
    if (isSelf)
    { disableButton = "disabled='disabled'"; }
}


<div>
    <h4>Delete User Permissions</h4>
    <div class="alert alert-danger">Are you sure you want to remove these User's Permissions?</div>
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="WVEmail"></label>
        </dt>
        <dd>
            @Model.WVEmail
        </dd>
        <dt>
            <label asp-for="Administrator"></label>
        </dt>
        <dd>
            <input type="checkbox" checked="@Model.Administrator" class="check-box" disabled="disabled" />
        </dd>
        <dt>
            <label asp-for="EditDeleteSupporterData"></label>
        </dt>
        <dd>
            <input type="checkbox" checked="@Model.EditDeleteSupporterData" class="check-box" disabled="disabled" />
        </dd>
        <dt>
            <label asp-for="CreateEditDeleteEvents"></label>
        </dt>
        <dd>
            <input type="checkbox" checked="@Model.CreateEditDeleteEvents" class="check-box" disabled="disabled" />
        </dd>

        <dt>
            <label asp-for="DownloadFilesandImages"></label>
        </dt>
        <dd>
            <input type="checkbox" checked="@Model.DownloadFilesandImages" class="check-box" disabled="disabled" />
        </dd>
    </dl>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="control-label col-md-2"></div>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" @disableButton />
            <a asp-action="UserIndex">Back to List</a>
        </div>
    </form>
</div>
