@model United4Admin.WebApplication.ViewModels.ChildInternalDataVM

@{
	bool sponsoredSelected = Model.CannotChangeStatus;
	string disableButton = "";
	if (sponsoredSelected)
	{ disableButton = "disabled='disabled'"; }

	string status = "Available";
	if (Model.SponsoredDateTime != null)
	{
		status = "Sponsored "
			+ Model.SponsoredDateTime.GetValueOrDefault().ToShortDateString();
	}
	else if (Model.SelectedDateTime != null)
	{
		TimeSpan minutes = DateTime.UtcNow - Model.SelectedDateTime.GetValueOrDefault();
		int minutesWhole = (int)minutes.TotalMinutes < 0 ? 0 : (int)minutes.TotalMinutes;
		status = "Selected " + minutesWhole + " mins ago";
	}

}


<div>
	<h4>Change Status of @Model.Name</h4>
	<div class="alert alert-warning">Are you sure you want to change @Model.Name's status to sponsored? This action cannot be undone.</div>
	<dl class="dl-horizontal">
		<dt>
			<label asp-for="ChildId"></label>
		</dt>
		<dd>
			@Model.ChildId
		</dd>
		<dt>
			<label asp-for="Name"></label>
		</dt>
		<dd>
			@Model.Name
		</dd>
		<dt>
			<label>Horizon Data</label>
		</dt>
		<dd> <input type="checkbox" checked="@Model.HasHorizonData" class="check-box" disabled="disabled" /></dd>
		<dt>
			<label>Photo</label>
		</dt>
		<dd> <input type="checkbox" checked="@Model.HasCGPhoto" class="check-box" disabled="disabled" /></dd>
		<dt>
			<label>Video</label>
		</dt>
		<dd> <input type="checkbox" checked="@Model.HasCGVideo" class="check-box" disabled="disabled" /></dd>
		<dt>
			<label>Status</label>
		</dt>
		<dd>
			@status
		</dd>
	</dl>

	<form method="post">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="control-label col-md-2"></div>
		<div class="form-actions no-color">
			<input type="submit" value="Change to Sponsored" class="btn btn-primary" @disableButton />
			<a asp-action="ChildList">Back to List</a>
		</div>
	</form>
</div>
