@model IEnumerable<United4Admin.WebApplication.ViewModels.SignUpEventVM>

@{

}
<h4>Registration Events</h4>
@if (ViewBag.Notification != null)
{
    <span id="Notification" class="text-success pull-right">
        @ViewBag.Notification
    </span>
}
<script>
    $("#Notification").fadeOut(6000);
</script>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <caption hidden="hidden">Registration Events</caption>
    <tr>
        <th scope="col">
            <label asp-for="FirstOrDefault().EventName"></label>
        </th>
        <th scope="col">
            <label asp-for="FirstOrDefault().Location"></label>
        </th>
        <th scope="col">
            <label asp-for="FirstOrDefault().PublishDate"></label>
        </th>
        <th scope="col">
            <label asp-for="FirstOrDefault().ClosedDate"></label>
        </th>
        <th scope="col">
            <label asp-for="FirstOrDefault().ShortURL"></label>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SignUpEventId">@item.EventName</a>
            </td>
            <td>
                @item.Location
            </td>
            <td>
                @item.PublishDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.ClosedDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.ShortURL
            </td>
        </tr>
    }
</table>