@using System.Security.Principal
@model IEnumerable<United4Admin.WebApplication.ViewModels.SignUpVM>

@{
    bool EditSignUps = User.HasClaim(claim => claim.Type == "EditDeleteSupporterData" && claim.Value == "True");
}

<style>
    .close {
        position: relative;
        bottom: 20px;
    }
</style>

<h4>Chosen Photo Approval</h4>

@if (ViewBag.DownLoadError != null)
{
    <p class="text-danger">@ViewBag.DownLoadError</p>
}

@if (ViewBag.Notification != null)
{
    <span id="Notification" class="text-success pull-right">
        @ViewBag.Notification
        <br />
    </span>
}
<script>
    $("#Notification").fadeOut(6000);
</script>
<br />
<form method="post" id="myForm" enctype="multipart/form-data">
    <div class="form-horizontal">
        <input id="signUpId" name="signUpId" type="hidden">
        <table class="table">
            <caption hidden="hidden">Below are all of the chosen registrations where a supporter has not upload a photo.</caption>
            <tr>
                <th scope="col">
                    Chosen SignUp ID
                </th>
                <th scope="col">
                    Supporter Name
                </th>
                <th scope="col">
                  Image Status
                </th>
                <th scope="col">
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.chosenSignUpId
                    </td>
                    <td>
                        @item.FirstName @item.LastName
                    </td>
                    <td>
                        @item.ImageStatusName
                    </td>
                    <td>
                        <input id="btnView" name="btnView" type="button" value="View  " class="btn btn-primary upload" onclick="view('@item.chosenSignUpId')" />
                    </td>
                </tr>
            }
        </table>
    </div>
</form>
<div class="modal" id="sessionModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align:center">Photo Approval</h4>
                <p id="errImgMSg" name="errImgMSg" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="showPicDiv">
                <div style="display: none;width: 100%;margin-top:20px;text-align: center;" id="loading">
                    <img src="~/css/Images/loader.gif" alt="Loading ..." />
                </div>
                <div id="sessionMsg" style="display: none;">
                    <img id="imgId" style=" width: 100%;height: 400px;">
                </div>
                <div style="padding-left: 325px; padding-top: 15px;">
                    <input id="btnDelete" name="btnDelete" type="button" value="Delete" class="btn btn-primary upload" onclick="delImage()" />
                    <input id="btnReplace" name="btnReplace" type="button" value="Replace" class="btn btn-primary upload" onclick="replaceImg()" />
                    <input id="btnApprove" name="btnApprove" type="button" value="Approve" class="btn btn-primary upload" onclick="approveImg()" />
                </div>
            </div>
            <form method="post" id="myFormRep" asp-action="Replace" enctype="multipart/form-data">
                <input id="repSignUpId" name="repSignUpId" type="hidden">
                <div class="modal-body" id="showUploadDiv" hidden>
                    <h5>Photo Replace</h5>
                    <div id="session">
                        <input type="file" id="fileUploadName" name="fileUploadName" class="form-control"
                               accept=".jpg,application/jpg,text/jpg" onchange="enableBtn()" style="width:400px">
                    </div>
                    <div style="padding-left: 350px; padding-top: 15px;">
                        <input id="btnUpload" name="btnUpload" type="button" value="Save  " class="btn btn-primary upload" onclick="saveImg()" disabled />
                        <input id="btnBack" name="btnBack" type="button" value="Back  " class="btn btn-primary upload" onclick="backImg()" />
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<form method="post" id="myFormDel" asp-action="Delete" enctype="multipart/form-data">
    <input id="delSignUpId" name="delSignUpId" type="hidden">
</form>
@*<form method="post" id="myFormRep" asp-action="Replace" enctype="multipart/form-data">
        <input id="repSignUpId" name="repSignUpId" type="hidden">
    </form>*@
<form method="post" id="myFormApprove" asp-action="Approve" enctype="multipart/form-data">
    <input id="approveSignUpId" name="approveSignUpId" type="hidden">
</form>
<script>
    $(document).ready(function () {
        $("#imgId").val("");
        $('#sessionModel').modal({ backdrop: 'static', keyboard: false });
        $('#sessionModel').modal('hide');
        $("#showUploadDiv").hide();
    });
    //function to disable buttons
    function enableBtn() {
        $("#btnUpload").prop('disabled', false);
    }

    //function to view photo popup page
    function view(id) {
        $("#imgId").attr("src", "");
        $("#signUpId").val(id);
        $("#delSignUpId").val(id);
        $("#approveSignUpId").val(id);
        $("#repSignUpId").val(id);
        $('#sessionMsg').hide();
        $('#loading').show();
        //send request to server to load uploaded photo
        $.ajax({
            url: "/PhotoApproval/ShowPhoto?chosenSignUpId=" + id,
            type: "GET",
            success: function (res) {
                $("#imgId").attr("src", res.imageURL);
                $('#loading').hide();
                $('#sessionMsg').show();
            },
            error: function (res) {
                $("#errImgMSg").val("No image is held for this registration");
            }
        });
        $('#sessionModel').modal({ backdrop: 'static', keyboard: false });
        $('#sessionModel').modal('show');
    }

    //function to send data to server for delete image
    function delImage() {
        $("#btnDelete").prop('disabled', true);
        $("#delSignUpId").val();
        $("#myFormDel").submit();
    }

    //function to hide and show replace div
    function replaceImg() {
        $("#fileUploadName").val("");
        $("#btnUpload").prop('disabled', true);
        $("#showUploadDiv").show();
        $("#showPicDiv").hide();
    }

       //function to hide and show div
    function backImg() {
        $("#showUploadDiv").hide();
        $("#showPicDiv").show();
    }

        //function to send data to server for replace save image
    function saveImg() {
        $("#btnUpload").prop('disabled', true);
        $("#repSignUpId").val();
        $("#myFormRep").submit();
    }

       //function to send data to server for approve image
    function approveImg() {
        $("#btnApprove").prop('disabled', true);
        $("#approveSignUpId").val();
        $("#myFormApprove").submit();
    }
</script>
